body{
  display: flex;
    justify-content: center;
  align-items: center;

}
.login{
  width:50%;
  height:80%;
  padding: 20;
  border: 2px   ;
  border-radius: 10%;
   background-color: white;
   box-shadow:rgba(122, 7, 7, 0.25) 0px 54px 55px, rgba(226, 25, 85, 0.493) 0px -12px 30px, rgba(238, 188, 25, 0.884) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
#ss{
  width: 30%;
  height: 30px;
  border-radius: 10%;
  background-color: blue;
  color: white;
  font-size:20px ;
  box-shadow: rgb(215, 229, 241) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

}
input {
width: 170px;
height: 30;
border-radius: 20%;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#pad{
  padding: 5%;
}
.btn-11 {
  border: none;
  transition: all 0.3s ease;
}
.dot {
	content: '';
	position: absolute;
	top: 0;
	width: 6.5px;
	height: 100%;
	border-radius: 100%;
	transition: all 300ms ease;
	display: none;
}
.dot:after {
	content: '';
	position: absolute;
	left: calc(50% - .4em);
	height: 8px;
	width: 8px;background: orangered;
	border-radius: 3px;
	box-shadow:
   -7px -7px 20px 0px #fff,
   -4px -4px 5px 0px #fff,
   7px 7px 20px 0px #0004,
   4px 4px 5px 0px #0004;
}
button {
  margin: 20px;
  outline: none;
}
.custom-btn {
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-11:hover .dot,
.btn-11:focus .dot {
	animation: rotation 2s infinite linear;
	display: block;
}
@keyframes rotation {
	0% {transform: translateX(0) rotate(0);}
	30%{transform: translateX(60px) rotate(0);}
	50% {transform: translateX(60px) rotate(180deg);}
	80% {transform: translateX(0) rotate(180deg);}
  100% {transform: translateX(0) rotate(360deg);}
}